= javascript_include_tag "admin"
%br
%table{:width => "50%", :align => "center", :bgcolor => "#FFFFFF"}
  %tr
    %td= render 'shows/setlist'
%br
%table{:width => "90%", :align => "center"}
  %tr
    %th Track Number
    %th Setlist
  - @recording_tracks.each do |recording_track|
    %form{:action => '/tracks/add', :method => 'post'}
      %tr
        %td= recording_track.track
        %td
          %input{:type => "text", :id => "song_id_#{recording_track.track}", :name => "song_name_#{recording_track.track}", :size => "50", :value => recording_track.song_name}
          %input{:type => "hidden", :name => "song_id_#{recording_track.track}"}
      
    