= javascript_include_tag "admin"
%script{:type => "text/javascript"}
  jQuery(document).ready(function($) {	
  - for i in 1..@recording.total_tracks.to_i do
    $.getJSON('/tracks/list/#{@recording.id}/#{i}', function(data) {$("#song_name_#{i}").autoSuggest("/songs/list", {selectedItemProp: "label",selectedValuesProp: "id",searchObjProps: "label",preFill: data,asHtmlID: "track_#{i}"});});
  });
%br
%div{:align => "center"}= link_to 'Recording Details', recording_path(@recording) 
%br
%table{:width => "90%", :align => "center", :bgcolor => "#FFFFFF"}
  %tr
    %td= render 'shows/setlist'
%br
%a{:href = "/tracks/import/#{@recording.id}"} Import from setlist
%form{:action => '/tracks/save', :method => 'post'}
  %input{:type => "hidden", :name => "recording_id", :value => "#{@recording.id}"}
  %input{:type => "hidden", :name => "total_tracks", :value => "#{@recording.total_tracks}"}  
  %table{:width => "90%", :align => "center"}
    %tr
      %td{:align => "center", :colspan => "2", :align => "center"} 
        %input{:type => "submit", :value => "Save"}  
    %tr
      %th Track
      %th
    - for i in 1..@recording.total_tracks.to_i do
      %tr
        %td{:align => "center"}= i
        %td
          %input{:type => "text", :id => "song_name_#{i}", :name => "song_name_#{i}", :size => "50"}
    %tr
      %td{:align => "center", :colspan => "2", :align => "center"} &nbsp;
    %tr
      %td{:align => "center", :colspan => "2", :align => "center"} 
        %input{:type => "submit", :value => "Save"}
    