= javascript_include_tag "admin"
%script{:type => "text/javascript"}
  jQuery(document).ready(function($) {	
  - @recording_tracks.each do |recording_track|
    $.getJSON('/tracks/list/#{recording_track.recording_id}/#{recording_track.track}', function(data) {$("#song_name_#{recording_track.track}").autoSuggest("/songs/list", {selectedItemProp: "label",selectedValuesProp: "id",searchObjProps: "label",preFill: data,asHtmlID: "track_#{recording_track.track}"});});
  });
%br
%table{:width => "50%", :align => "center", :bgcolor => "#FFFFFF"}
  %tr
    %td= render 'shows/setlist'
%br
%form{:action => '/tracks/add', :method => 'post'}
  %table{:width => "90%", :align => "center"}
    %tr
      %th Track Number
      %th Setlist
    - @recording_tracks.each do |recording_track|
      %tr
        %td{:align => "center"}= recording_track.track
        %td
          %input{:type => "text", :id => "song_name_#{recording_track.track}", :name => "song_name_#{recording_track.track}", :size => "50", :value => recording_track.song_name}
  %input{:type => "submit"}
    