= will_paginate @recordings
%table{:align => "center", :class => "tablesorter"}
  %thead
    %tr
      - if admin_signed_in?
        %th{:width => "6%", :align => "left"} Delete 
        %th{:width => "4%", :align => "left"} Edit
      %th{:width => "5%", :align => "left"} Details  
      %th{:width => "10%", :align => "left"} Show Date
      %th{:width => "35%", :align => "left"} Label
      %th{:width => "17%", :align => "left"} Venue
      %th{:width => "12%", :align => "left"} City
      %th{:width => "5%", :align => "left"} State           
      %th{:width => "6%", :align => "left"} Setlist
    %tbody
      - if admin_signed_in?
        %tr
          %td{:colspan => "9"}= link_to 'New Recording', new_recording_path
      - @recordings.each do |recording|
        %tr
          - if admin_signed_in?
            %td= link_to 'Delete', recording_path(recording), :id => "delete", :method => :delete
            %td= link_to 'Edit', edit_recording_path(recording)
          %td= link_to 'Show', recording_path(recording)
          %td= recording.show.date_played
          %td= recording.label
          %td= recording.show.venue.venue_name
          %td= recording.show.venue.venue_city
          %td= recording.show.venue.venue_state
          %td 
            %a{:href => "#", :onclick => "$('#dialog_setlist_#{recording.show.id}').setlist(#{recording.show.id})"} Setlist
            %div{:id => "dialog_setlist_#{recording.show.id}", :title => "Setlist for #{recording.show.date_played}"}          
= will_paginate @recordings