%h1 Admin Recordings
= paginate @current_page, @page_count, :outer_window => 5
%table{:align => "center"}
  %thead
    %tr
      %th{:width => "10%", :align => "left"}
      %th{:width => "10%", :align => "left"}
      %th{:width => "10%", :align => "left"} Show Date
      %th{:width => "10%", :align => "left"} Type
      %th{:width => "10%", :align => "left"} Label
      %th{:width => "10%", :align => "left"} Venue Name
      %th{:width => "10%", :align => "left"} City
      %th{:width => "10%", :align => "left"} State
    %tbody  
      %tr
        %td{:colspan => "8"}
          %a{:href => "/recordings/new"} Add Recording
      - @recordings.each do |recording|
        %tr
          %td
            %a{:href => "/recordings/delete/#{recording.id}"} Delete
          %td
            %a{:href => "/recordings/edit/#{recording.id}"} Edit
          %td= recording.show.date_played
          %td= recording.type
          %td= recording.label
          %td= recording.show.venue.venue_name
          %td= recording.show.venue.venue_city
          %td= recording.show.venue.venue_state
= paginate @current_page, @page_count, :outer_window => 5