%h2 Search Recordings
%form{:action => "/recordings/search_results", :method => "post", :autocomplete => "off"}
  %div{:class => "jcarousel-control"}
    %a{:href => "#", :id => "1"}General
    |
    %a{:href => "#", :id => "2"}Location
    | 
    %a{:href => "#", :id => "3"}Source 
    | 
    %a{:href => "#", :id => "4"}Date
    %ul{:id => "mycarousel", :class => "jcarousel-skin-tango"}
      %li
        %table
          %tr
            %td
              Label
            %td{:align => "center"}= text_field :name => "label"
      %li
        %table
          %tr
            %td 
              Venue
            %td= text_field :name => "venue_name", :id => "venue_name"
          %tr
            %td
              City
            %td= text_field :name => "venue_city", :id => "venue_city"
          %tr
            %td
              State
            %td= text_field :name => "venue_state"
      %li
        %table
          %tr
            %td
              Source
            %td= text_field :name => "source"
          %tr
            %td
              Lineage
            %td= text_field :name => "lineage"
          %tr
            %td
              Taper
            %td= text_field :name => "taper"
          %tr
            %td
              Type
            %td= select :name => "type", :collection => get_types
      %li
        %table
          %tr
            %td
              Year
            %td= select:name => "year", :collection => get_years              
          %tr
            %td
              Date range
            %td
              not finished
  %input{:type => "submit", :value => "Search"} 
  %input{:type => "reset", :value => "Clear"}
%p= text_field :name => "venue_name", :id => "venue_name"