%div{:id => "main_recordings"}
  = js_include_tag :search_recordings
  = js_include_tag :accordion
  %form{:action => "/recordings/search_results", :method => "post", :autocomplete => "off", :id => "search_form_recordings"}
    %div{:id => "search_accordion_recordings"}
      %h3
        %a{:href => "#"} General
      %div
        %table{:border => "0"}
          %tr
            %td
              %label Label
            %td
              %input{:type => "text", :name => "label", :size => "25"} 
          %tr
            %td
              %label Song
            %td
              = text_field :name => "song_name", :size => "25" 
      %h3
        %a{:href => "#"} Location
      %div         
        %table{:border => "0"}
          %tr
            %td
              %label Venue
              = text_field :name => "venue_name", :id => "venue_name", :size => "25"
          %tr
            %td
              %label City 
              = text_field :name => "venue_city", :id => "venue_city", :size => "25"
          %tr
            %td
              %label State
              = text_field :name => "venue_state", :size => "5"  
      %h3
        %a{:href => "#"} Source
      %div
        %table{:border => "0"}
          %tr
            %td
              %label Source
            %td
              = text_field :name => "source", :size => "25"
          %tr
            %td
              %label Lineage
            %td
              = text_field :name => "lineage", :size => "25"
          %tr
            %td
              %label Taper
            %td
              = text_field :name => "taper", :size => "25"
          %tr
            %td
              %label Etree ID
            %td
              = text_field :name => "shnid", :size => "5"
          %tr
            %td
              %label Type
            %td
              = select :name => "type", :collection => get_types
      %h3
        %a{:href => "#"} Date
      %div     
        %table{:border => "0"}
          %tr
            %td
              %label Year
              = select:name => "year", :collection => get_years 
          %tr
            %td
              %label Range
              %input{:type => "text", :name => "start_date", :id => "start_date", :size => "7"} 
              to
              %input{:type => "text", :name => "end_date", :id => "end_date", :size => "7"}         
    %div{:id => "search_buttons_recordings"} 
      %table{:width => "50%", :colspacing => "4"}    
        %tr
          %td{:colspan => "2"}  
            &nbsp      
        %tr
          %td{:align => "right"}
            %input{:type => "submit", :value => "Search", :name => "submit"} 
          %td{:align => "left"}
            %input{:type => "reset", :value => "Clear"}