= javascript_include_tag "admin"
%h2 Admin Recordings
= link_to 'Back', 'admin'
= will_paginate @recordings
%table{:align => "center", :class => "tablesorter"}
  %thead
    %tr
      %th{:width => "10%", :align => "left"} Delete 
      %th{:width => "10%", :align => "left"} Edit
      %th{:width => "15%", :align => "left"} Show Date
      %th{:width => "30%", :align => "left"} Label
      %th{:width => "20%", :align => "left"} Venue Name  
    %tbody  
      %tr
        %td{:colspan => "6"}= link_to 'New Recording', new_recording_path
      - @recordings.each do |recording|
        %tr
          %td
            %a{:href => "/recordings/destroy/#{recording.id}", :id => "delete"} Delete
          %td= link_to 'Edit', edit_recording_path(recording)
          %td= recording.show.date_played
          %td= recording.label
          %td= recording.show.venue.label
