%h2 Search Recordings
%form{:action => "/recordings/search_results", :method => "post", :autocomplete => "off"}
  %table{:width => "50%", :align => "center"}
    %tr
      %td{:align => "center"}
        %a{:href => "#", :class => "search_source"} Source
      %td{:align => "center"}
        %a{:href => "#", :class => "search_lineage"} Lineage
      %td{:align => "center"}
        %a{:href => "#", :class => "search_taper"} Taper
    %tr
      %td{:align => "center"}
        %a{:href => "#", :class => "search_venue_name"} Venue
      %td{:align => "center"}
        %a{:href => "#", :class => "search_year"} Year
      %td{:align => "center"}
        %a{:href => "#", :class => "search_venue_city"} City
    %tr
      %td{:align => "center"}
        %a{:href => "#", :class => "search_venue_state"} State
      %td{:align => "center"}
        %a{:href => "#", :class => "search_label"} Label			    
      %td{:align => "center"}
        %a{:href => "#", :class => "search_type"} Type
    %tr{:height => "20"}
      %td{:colspan => "3"}
    %tr{:id => "search_label"}
      %td Label:
      %td{:align => "center"}= text_field :name => "label"
      %td 
        %a{:href => "#", :id => "remove_label"} Remove
    %tr{:id => "search_source"}
      %td Source:
      %td{:align => "center"}= text_field :name => "source"
      %td 
        %a{:href => "#", :id => "remove_source"} Remove
    %tr{:id => "search_lineage"}
      %td Lineage:
      %td{:align => "center"}= text_field :name => "lineage"
      %td 
        %a{:href => "#", :id => "remove_lineage"} Remove
    %tr{:id => "search_taper"}
      %td Taper:
      %td{:align => "center"}= text_field :name => "taper"
      %td 
        %a{:href => "#", :id => "remove_taper"} Remove
    %tr{:id => "search_venue_name"}
      %td Venue:
      %td{:align => "center"}= text_field :name => "venue_name", :id => "venue_name"
      %td 
        %a{:href => "#", :id => "remove_venue_name"} Remove
    %tr{:id => "search_year"}
      %td Year:
      %td{:align => "center"}= select:name => "year", :collection => get_years
      %td 
        %a{:href => "#", :id => "remove_year"} Remove
    %tr{:id => "search_venue_city"}
      %td City:
      %td{:align => "center"}= text_field :name => "venue_city", :id => "venue_city"
      %td 
        %a{:href => "#", :id => "remove_venue_city"} Remove
    %tr{:id => "search_venue_state"}
      %td State
      %td{:align => "center"}= text_field :name => "venue_state"
      %td 
        %a{:href => "#", :id => "remove_venue_state"} Remove
    %tr{:id => "search_type"}
      %td Type
      %td{:align => "center"}= select :name => "type", :collection => get_types
      %td 
        %a{:href => "#", :id => "remove_type"} Remove
    %tr{:height => "20"}
      %td{:colspan => "3"}
    %tr
      %td
      %td{:align => "center"}
        %input{:type => "submit", :value => "Search"}
      %td