%h2 Search Recordings
%form{:action => "/recordings/search_results", :method => "post", :autocomplete => "off"}
  %div{:id => "carousel-control"}
    %a{:href => "#"}General
    |
    %a{:href => "#"}Location
    | 
    %a{:href => "#"}Source 
    | 
    %a{:href => "#"}Date
  %div{:id => "carousel"}
    %div{:align => "center"}
      %div &nbsp
      %div{:align => "center"}
        %label Label
        %input{:type => "text", :name => "label", :size => "20"}
    %div{:align => "center"}
      %div &nbsp
      %div{:align => "center"}
        %label Venue
        = text_field :name => "venue_name", :id => "venue_name", :size => "20"
      %div &nbsp
      %div{:align => "center"} 
        %label City 
        = text_field :name => "venue_city", :id => "venue_city", :size => "20"
      %p
      %div &nbsp
      %div{:align => "center"}
        %label State
        = text_field :name => "venue_state", :size => "20"
    %div
      %div &nbsp
      %div{:align => "center"}
        %label Source
        = text_field :name => "source", :size => "20"
      %div &nbsp 
      %div
        %label Lineage
        = text_field :name => "lineage", :size => "20"
      %div &nbsp        
      %div
        %label Taper
        = text_field :name => "taper", :size => "20"
      %div &nbsp
      %div
        %label Type
        = select :name => "type", :collection => get_types
    %div
      %div &nbsp
      %div
        %label Year
        = select:name => "year", :collection => get_years 
      %div &nbsp       
      %div
        %label Range
        %input{:type => "text", :name => "start_date", :id => "start_date", :size => "7"} 
        to
        %input{:type => "text", :name => "start_date", :id => "end_date", :size => "7"}
  %div &nbsp;
  %div{:class => "scroll"}
    %a{:href => "#", :id => "prev"} Prev
    %a{:href => "#", :id => "next"} Next      
  %div &nbsp;
  %input{:type => "submit", :value => "Search"} 
  %input{:type => "reset", :value => "Clear"}