= js_include_tag :admin
%h2 Add Recording (admin only)
%form{:action => "/recordings/create", :method => "post"}
  %table
    %tr
      %td
        %h5 Show:
        %input{:type => "hidden", :name => "show_id", :id => "show_id", :value => ""}
      %td= text_field :name => "date_played", :id => "show_date_played"
    %tr
      %td       
        %h5 Label:
      %td= text_field :name => "label"
    %tr
      %td
        %h5 Type:
      %td= select :name => "type", :collection => get_types
    %tr
      %td
        %h5 Source:
      %td= text_field :name => "source"
    %tr
      %td
        %h5 Lineage:
      %td= text_field :name => "lineage"
    %tr
      %td
        %h5 Taper:
      %td= text_field :name => "taper"
    %tr
      %td
        %h5 Transferred by:
      %td= text_field :name => "transferred_by"
    %tr
      %td
        %h5 Notes:
      %td
        %textarea{:name => "notes", :rows => "5", :cols => "50"}
    %tr
      %td
        %h5 Disc Count
      %td
        = select :name => "discs", :collection => get_discs, :id => "discs"
    %tr
      %td 
      %td
        %div{:id => "tracks"}
    %tr
      %td{:colspan => "2"}= submit "Add"
%div{:id => "dialog"}