= js_include_tag :search_results
%form{:action => "/recordings/search_results", :method => "post", :autocomplete => "off", :id => "paginate_form_recordings"}
  %input{:type => "hidden", :name => "page", :value => "#{params[:page]}"}
  = paginate @current_page, @page_count, :outer_window => 5, :url => "/recordings/search_results"
  %table{:align => "center", :id => "recordingTable", :class => "tablesorter"}
    %thead
      %tr
        %th{:width => "10%", :align => "left"} Show Date
        %th{:width => "8%", :align => "left"} Type
        %th{:width => "20%", :align => "left"} Label
        %th{:width => "20%", :align => "left"} Venue Name
        %th{:width => "18%", :align => "left"} City
        %th{:width => "8%", :align => "left"} State
        %th{:width => "8%", :align => "left"} Setlist
      %tbody  
        - @recordings.each do |recording|
          %tr
            %td= recording.show.date_played
            %td= recording.type
            %td
              %a{:href => "/recordings/show/#{recording.id}", :id => "recording_details"}
                =recording.label
            %td= recording.show.venue.venue_name
            %td= recording.show.venue.venue_city
            %td= recording.show.venue.venue_state
            %td 
              %a{:href => "#", :onclick => "$('#dialog_setlist_#{recording.show.id}').setlist(#{recording.show.id})"} Setlist
              %div{:id => "dialog_setlist_#{recording.show.id}", :title => "Setlist for #{recording.show.date_played}"}                       
  = paginate @current_page, @page_count, :outer_window => 5, :url => "/recordings/search_results"            