%h1 Recording Details
%table{:width => "85%", :align => "center", :id => "recordingTable", :class => "tablesorter"}
  %tr
    %td= @recording.id
    %td= @recording.label
  %tr
    %td
      Taper
      = @recording.taper
  %tr
    %td
      Transferred By
      = @recording.transfered_by
  %tr
    %td{:colspan => "4"}
      Source:
      = @recording.source
  %tr
    %td{:colspan => "4"}
      Lineage:
      = @recording.lineage
  %tr
    %td{:colspan => "4"}
      Notes
      = @recording.notes

Stream Show:  Use the following URL in any iPhone application:
%br
= "http://ambernet.com/recordings/stream/#{@recording.id}"

%table{:width => "40%", :align => "center", :id => "recordingTrackTable"}
  %tr
    %th Track
    %th FLAC
    %th MP3
  - for i in 1..@recording.discs.to_i do
    - for j in "01"..@recording.tracks(i) do
      - trackName = "pgroove" + @recording.show.date_as_label + "d" + i.to_s + "t" + j.to_s
      %tr
        %td 
          = trackName
        %td
          %a{:href => "/ambernet/#{@recording.label}/#{trackName}.flac"}.flac
        %td
          %a{:href => "/ambernet/#{@recording.label}/#{trackName}.mp3"}.mp3