= javascript_include_tag 'soundmanager2'
= javascript_include_tag 'page-player'
= stylesheet_link_tag 'flashblock'
= stylesheet_link_tag 'page-player'
= stylesheet_link_tag 'optional-annotations'
= stylesheet_link_tag 'optional-themes'
:javascript
  jQuery(document).ready(function($) {
    $.PeriodicalUpdater('/recordings/zip_link/#{@recording.id}/mp3/',{
      method: 'post',
      type: 'text',
      minTimeout: '60000'
    },function(data){
        $("#zip_mp3").html(data);
    });
    $.PeriodicalUpdater('/recordings/zip_link/#{@recording.id}/lossless/',{
      method: 'post',
      type: 'text',
      minTimeout: '60000'
    },function(data) {
      $("#zip_lossless").html(data);
    });
  })
  soundManager.url = '/soundmanager2/';
  soundManager.debugMode = true;
  soundManager.useHighPerformance = true; // keep flash on screen, boost performance
  soundManager.wmode = 'transparent'; // transparent SWF, if possible
  soundManager.useFastPolling = true; // increased JS callback frequency

  var PP_CONFIG = {
    flashVersion: 9,       // vFlash 9 required for peak / spectrum data.
    usePeakData: true,     // [Flash 9 only] whether or not to show peak data (left/right channel values)
    useWaveformData: true, // [Flash 9 only] show raw waveform data - WARNING: LIKELY VERY CPU-HEAVY
    useEQData: false,      // [Flash 9 only] show EQ (frequency spectrum) data
    useFavIcon: false,     // try to apply peakData to address bar (Firefox + Opera) - p
    useMovieStar: true     // Flash 9.0r115+ only: Support for a subset of MPEG4 formats.
  }  

  var is_shiny = false;
  function setTheme(sTheme) {
    var o = pagePlayer.getElementsByClassName('playlist','ul');
    for (var i=o.length; i--;) {
      o[i].className = 'playlist'+(pagePlayer.cssBase?' '+pagePlayer.cssBase:'')+(sTheme?' '+sTheme:'')+(is_shiny?' shiny':'');
    }
    return false;
  }
  function setShiny(bShiny) {
    is_shiny = bShiny;
    var o = pagePlayer.getElementsByClassName('playlist','ul');
    var sClass = 'shiny';
    for (var i=o.length; i--;) {
      if (!bShiny) {
  	  pagePlayer.removeClass(o[i],sClass);
  	} else {
  	  pagePlayer.addClass(o[i],sClass);
  	}
    }
  }
  
  function setTheme(sTheme) {
    var o = document.getElementsByTagName('ul')[0];
    o.className = 'playlist'+(sTheme?' '+sTheme:'');
    return false;
  }
%div{:id => "sm2-container"}    
%div{:id => "recording_detail_accordion"}
  %h3
    %a{:href => "#"} Recording Details
  %div   
    = render 'recordings/detail'
  %h3
    %a{:href => "#"} Show Details
  %div          
    = render 'shows/detail'
  %h3
    %a{:href => "#"} Download Options
  %div
    %table{:width => "100%"}
      %tr
        %td{:align => "left"}
          %a{:href => "#", :onclick => "$('#recording_directory').listing(#{@recording.id})"} Directory Listing
        %td
          %div{:id => "recording_directory"}
        %td{:align => "right"}
          %a{:href => "/recordings/generate_mp3/#{@recording.id}"} Generate MP3s      
    %table{:class => "tablesorter"}
      %tr
        %td{:colspan => "3"}
          %b It may take a few minutes to generate the zip file if you are the first to request this recording.  If the download box pops up instantly, someone else graciously donated their time.
      %tr
        %th{:width => "80%"} Track
        %th{:width => "10%"} Lossless
        %th{:width => "10%"} MP3 (V0)
      %tr
        %td 
          %b Entire Show
        %td 
          %div{:id => "zip_lossless"}
        %td
          %div{:id => "zip_mp3"} 
      - @recording.tracks do |track, total_count|
        %tr
          %td 
            = track
          %td{:align => "center", :valign => "middle"}
            %a{:href => "/ambernet/#{@recording.label}/#{track}.#{@recording.extension}"}=@recording.extension
          %td
            %a{:href => "/ambernet/#{@recording.label}/#{@recording.label.gsub(/flac16|mp3f|flac24|shnf/, 'mp3f')}/#{track}.mp3"} mp3
  %h3
    %a{:href => "#"} Streaming Options
  %div
    %ul{:class => "playlist"}
      - @recording.tracks do |track, total_count|
        %li
          %a{:href => "/ambernet/#{@recording.label}/#{@recording.label.gsub(/flac16|mp3f|flac24|shnf/, 'mp3f')}/#{track}.mp3"}= track
         
    %table{:width => "40%", :align => "center", :id => "streamingTable", :class => "tablesorter"}
      %tr
        %th Device
        %th Link
      %tr
        %td 
          %b iPhone via pls
        %td
          Type the following URL into any iPhone application that supports pls files:
          %br
          %br
          %b="http://#{AppConfig.host}/s/#{@recording.id}.pls"
      %tr
        %td 
          %b iPhone via m3u
        %td
          Type the following URL into any iPhone application that supports m3u files:
          %br
          %br
          %b="http://#{AppConfig.host}/s/#{@recording.id}.m3u"
      %tr
        %td 
          %b Computer via pls
        %td
          %a{:href => "/stream/#{@recording.id}.pls"} Click here to stream via pls     
      %tr
        %td 
          %b Computer via m3u
        %td
          %a{:href => "/stream/#{@recording.id}.m3u"} Click here to stream via m3u
         
    %div{:id => "control-template"}
      %div{:class => "controls"}
        %div{:class => "statusbar"}
          %div{:class => "loading"}
          %div{:class => "position"}

    %div{:class => "timing"}
      %div{:id => "sm2_timing", :class => "timing-data"}
        %span{:class => "sm2_position"} %s1
        / 
        %span{:class => "sm2_total"} %s2

    %div{:class => "peak"}
      %div{:class => "peak-box"}
        %span{:class => "l"}
        %span{:class => "r"}

    %div{:id => "spectrum-container", :class => "spectrum-container"}
      %div{:class => "spectrum-box"}
        %div{:class => "spectrum"}          