= javascript_include_tag 'soundmanager2'
= javascript_include_tag 'berniecode-animator.js'
= stylesheet_link_tag '360player'
:javascript
  jQuery(document).ready(function($) {
    $.PeriodicalUpdater('/recordings/zip_link/#{@recording.id}/mp3/',{
      method: 'post',
      type: 'text',
      minTimeout: '60000'
    },function(data){
        $("#zip_mp3").html(data);
    });
    $.PeriodicalUpdater('/recordings/zip_link/#{@recording.id}/lossless/',{
      method: 'post',
      type: 'text',
      minTimeout: '60000'
    },function(data) {
      $("#zip_lossless").html(data);
    });
  })
  soundManager.url = '/soundmanager2/';
  soundManager.debugMode = false;

%div{:id => "sm2-container"}
%div{:id => "recording_detail_accordion"}
  %h3
    %a{:href => "#"} Recording Details
  %div   
    = render 'recordings/detail'
  %h3
    %a{:href => "#"} Show Details
  %div          
    = render 'shows/detail'
  %h3
    %a{:href => "#"} Download Options
  %div
    %table{:width => "100%"}
      %tr
        %td{:align => "left"}
          %a{:href => "#", :onclick => "$('#recording_directory').listing(#{@recording.id})"} Directory Listing
        %td
          %div{:id => "recording_directory"}
        %td{:align => "right"}
          %a{:href => "/recordings/generate_mp3/#{@recording.id}"} Generate MP3s      
    %table{:class => "tablesorter"}
      %tr
        %td{:colspan => "3"}
          %b It may take a few minutes to generate the zip file if you are the first to request this recording.  If the download box pops up instantly, someone else graciously donated their time.
      %tr
        %th{:width => "80%"} Track
        %th{:width => "10%"} Lossless
        %th{:width => "10%"} MP3 (V0)
      %tr
        %td 
          %b Entire Show
        %td 
          %div{:id => "zip_lossless"}
        %td
          %div{:id => "zip_mp3"} 
      - @recording.tracks do |track, total_count|
        %tr
          %td 
            = track
          %td{:align => "center", :valign => "middle"}
            %a{:href => "/ambernet/#{@recording.label}/#{track}.#{@recording.extension}"}=@recording.extension
          %td
            %div{:class => "ui360"}
              %a{:href => "/ambernet/#{@recording.label}/#{@recording.label.gsub(/flac16|mp3f|flac24|shnf/, 'mp3f')}/#{track}.mp3"}
  %h3
    %a{:href => "#"} Streaming Options
  %div       
    %table{:width => "40%", :align => "center", :id => "streamingTable", :class => "tablesorter"}
      %tr
        %th Device
        %th Link
      %tr
        %td 
          %b iPhone via pls
        %td
          Type the following URL into any iPhone application that supports pls files:
          %br
          %br
          %b="http://#{AppConfig.host}/s/#{@recording.id}.pls"
      %tr
        %td 
          %b iPhone via m3u
        %td
          Type the following URL into any iPhone application that supports m3u files:
          %br
          %br
          %b="http://#{AppConfig.host}/s/#{@recording.id}.m3u"
      %tr
        %td 
          %b Computer via pls
        %td
          %a{:href => "/stream/#{@recording.id}.pls"} Click here to stream via pls     
      %tr
        %td 
          %b Computer via m3u
        %td
          %a{:href => "/stream/#{@recording.id}.m3u"} Click here to stream via m3u