%br
%br
%div{:id => "main"}
  %h3 Recording Details
  %div   
    %table{:width => "65%", :align => "center", :class => "tablesorter"}
      %tr
        %td{:width => "20%"} 
          %b Recording ID
        %td{:width => "80%"}= @recording.id
      %tr  
        %td 
          %b Label
        %td= @recording.label
      %tr
        %td 
          %b Show ID
        %td= @recording.show_id
      %tr
        %td 
          %b Source
        %td= @recording.source
      %tr
        %td 
          %b Lineage
        %td= @recording.lineage
      %tr
        %td 
          %b Taper
        %td= @recording.taper
      %tr
        %td 
          %b Type
        %td= @recording.type
      %tr
        %td 
          %b SHN (etree) ID:
        %td= @recording.shnid
      %tr
        %td 
          %b Taper
        %td= @recording.taper
      %tr
        %td 
          %b File type
        %td= @recording.filetype
      %tr
        %td 
          %b Notes
        %td= @recording.notes
      %tr
        %td 
          %b Tracking Info
        %td= @recording.tracking_info