= javascript_include_tag "admin"
%h2 Admin Section
%br
Select one of the following:
%br
= link_to 'Venues', venues_path
%br
= link_to 'Shows', shows_path
%br
= link_to 'Recordings', recordings_path
%br
= link_to 'Compilations', compilations_path
