= js_include_tag :admin
%h2 Edit Recording
%div{:width => "400"}
  %form{:action => "/recordings/edit/#{@recording.id}", :method => "post", :autocomplete => "off"}
    %table
      %tr
        %td{:width => "25%"}
          %h5 ID
          %input{:type => "hidden", :name => "id", :value => "#{@recording.id}"}
        %td{:width => "75%"}= @recording.id
      %tr
        %td 
          %h5 Show Date
        %td= @recording.show.date_played
      %tr
        %td 
          %h5 Type
        %td= select :name => "type", :collection => get_types, :selected => @recording.type
      %tr
        %td 
          %h5 Label 
        %td= text_field :name => "label", :value => @recording.label, :size => "50"
      %tr
        %td 
          %h5 Taper
        %td= text_field :name => "taper", :value => @recording.taper, :size => "50"
      %tr
        %td 
          %h5 Transfered By
        %td= text_field :name => "transfered_by", :value => @recording.transfered_by
      %tr
        %td 
          %h5 SHN ID
        %td= text_field :name => "shnid", :value => @recording.shnid, :size => "50"  
      %tr
        %td 
          %h5 Source
        %td= text_field :name => "source", :value => @recording.source, :size => "50"    
      %tr
        %td 
          %h5 Lineage
        %td= text_field :name => "lineage", :value => @recording.lineage, :size => "50"
      %tr
        %td 
          %h5 Notes
        %td
          %textarea{:name => "notes", :rows => "5", :cols => "50"}= @recording.notes
      %tr
        %td
          %h5 Disc Count
        %td
          = select :name => "discs", :collection => get_discs, :id => "discs"
      %tr
        %td 
        %td
          %div{:id => "tracks"}          
      %tr 
        %td{:colspan => "2"}
          %input{:type => "submit", :value => "Update", :name => "submit"}