= javascript_include_tag "admin"
%h2 Add Venue (admin only)
- form_for :venue, @venue, :url => { :action => "create"} do |f|
  %table
    %tr
      %td       
        %h5 Name:
      %td= f.text_field :venue_name
    %tr
      %td
        %h5 City:
      %td= f.text_field :venue_city
    %tr
      %td
        %h5 Venue State:
      %td= f.text_field :venue_state
    %tr
      %td{:colspan => "2"}= submit "Add"
%div{:id => "dialog"}