%html
  %head
    = js_include_tag 'jquery-1.3', 'jquery.tablesorter', 'jquery.autocomplete', 'jquery.ui', 'jquery.cycle', 'jquery.selectboxes', 'jquery.confirm'
    = js_include_tag :application, :bundle => :base
    = css_include_tag 'jquery.tablesorter', 'jquery.autocomplete', 'ui.all'
    = css_include_tag :master, :bundle => :base
    = include_required_js 
    = include_required_css 
    %title
      AmberNET Online
  %body
    %div{:id => "framecontentLeft"}
      %div{:class => "innertube"}
    %div{:id => "framecontentRight"}
      %div{:class => "innertube"}
    %div{:id => "framecontentTop", :align => "center"}
      %div{:class => "innertube"}
        Application Header Image Here
        %p
          %a{:href => "/recordings"} Search Recordings 
          | 
          %a{:href => "/shows"} Search Shows 
          | 
          %a{:href => "/beta"} Beta Information
    %div{:id => "framecontentBottom"}
      %div{:class => "innertube", :align => "center"}
        Contact | Etc | Etc | Etc
    %div{:id => "maincontent", :align => "center"}
      %div{:class => "innertube"}
        %div{:class => "ui-widget"}
          - if !message[:notice].nil?
            %div{:class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
              %p
                %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: .3em;"}
                = message[:notice]
          - if !message[:error].nil?
            %div{:class => "ui-state-error ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
              %p
                %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: .3em;"}
                = message[:error]
        = catch_content :for_layout