%html
  %head
    = js_include_tag "jquery-1.2.6"
    = js_include_tag 'application'
    = css_include_tag 'facebox'
    = css_include_tag 'faceplant'
    = js_include_tag  :facebox
    %title
      AmberNET Online
    %link{:rel => "stylesheet", :href => "/stylesheets/master.css", :lang => "en-us"}
  %body
  = message[:notice]
  = catch_content :for_layout