%html
  %head
    = js_include_tag "jquery-1.2.6"
    = js_include_tag  :facebox
    = js_include_tag 'jquery.tablesorter'
    = js_include_tag 'jquery.tablesorter.pager'
    = js_include_tag 'jquery.dimensions'
    = js_include_tag 'jquery.autocomplete'
    = js_include_tag 'jquery.selectboxes'
    = js_include_tag 'jquery.james'
    = js_include_tag 'application'
    = css_include_tag 'master'
    = css_include_tag "jquery.autocomplete"
    = css_include_tag 'facebox'
    = css_include_tag 'tablesorter'
    %title
      AmberNET Online
  %body
    %table{:width => "85%", :align => "center", :height => "100%"}
      %tr{:height => "10%"} 
        %td{:align => "center"} Application Header Image
      %tr{:height => "10%"}
        %td{:align => "center", :valign => "top"} 
          %a{:href => "/recordings"} Search Recordings 
          | 
          %a{:href => "/shows"} Search Shows 
          | 
          %a{:href => "/beta"} Beta Information
      %tr{:height => "85%", :valign => "top"}
        %td{:align => "center"}
          = message[:notice]
          = catch_content :for_layout