%html
  %head
    = js_include_tag 'jquery-1.3'
    = js_include_tag 'jquery.tablesorter'
    = js_include_tag 'jquery.ui'
    = js_include_tag 'jquery.jcarousel'
    = js_include_tag 'jquery.autocomplete'
    = js_include_tag 'application'
    = css_include_tag 'master'
    = css_include_tag 'ui.all'    
    = css_include_tag 'jquery.tablesorter'
    = css_include_tag 'jquery.jcarousel'
    = css_include_tag 'jquery.autocomplete'
    = css_include_tag 'jcarousel.ambernet.skin'    
    %title
      AmberNET Online
  %body
    %table{:width => "85%", :align => "center", :height => "100%"}
      %tr{:height => "10%"} 
        %td{:align => "center"} Application Header Image
      %tr{:height => "10%"}
        %td{:align => "center", :valign => "top"} 
          %a{:href => "/recordings"} Search Recordings 
          | 
          %a{:href => "/shows"} Search Shows 
          | 
          %a{:href => "/beta"} Beta Information
      %tr{:height => "85%", :valign => "top"}
        %td{:align => "center"}
          %div{:class => "ui-widget"}
            - if !message[:notice].nil?
              %div{:class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
                %p
                  %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: .3em;"}
                  = message[:notice]
            - if !message[:error].nil?
              %div{:class => "ui-state-error ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
                %p
                  %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: .3em;"}
                  = message[:error]
          = catch_content :for_layout