%html
  %head
    = js_include_tag 'jquery-1.3.2.min', 'jquery.tablesorter', 'jquery.autocomplete', 'jquery.ui', 'jquery.cycle', 'jquery.selectboxes', 'jquery.confirm'
    = js_include_tag :application, :bundle => :base
    = css_include_tag 'jquery.tablesorter', 'jquery.autocomplete', 'jquery.ui.custom'
    = css_include_tag :master, :bundle => :base
    = include_required_js 
    = include_required_css 
    %title
      AmberNET Online
  %body{:topmargin => "0", :leftmargin => "0", :marginwidth => "0", :marginheight => "0", :hspace => "0", :vspace => "0"}
    %div{:align => "center"}
      %img{:src => "/images/header.jpg"}
      %p
        %a{:href => "/recordings"} Search Recordings 
        | 
        %a{:href => "/shows"} Search Shows 
        | 
        %a{:href => "/beta/index"} Beta Information
        |
        %a{:href => "/admin"} Admin
        %div{:class => "ui-widget"}
          - if !message[:notice].nil?
            %div{:class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
              %p
                %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: .3em;"}
                = message[:notice]
          - if !message[:error].nil?
            %div{:class => "ui-state-error ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
              %p
                %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: .3em;"}
                = message[:error]
        = catch_content :for_layout