%h1
  Secrets controller, edit action
%p
  Edit this file in
  %tt
    app/views/secrets/edit.html.erb
= error_messages_for @secret

= form_for(@secret, :action => url(:secret, @secret)) do
  %p
    = submit "Update"

= link_to 'Show', url(:secret, @secret)
|
= link_to 'Back', url(:secrets)