%table{:width => "65%", :align => "center", :class => "tablesorter"}
  %tr
    %td{:width => "20%"} 
      %b Show ID
    %td{:width => "80%"}= @show.id
  %tr
    %td 
      %b Date
    %td= @show.date_played
  %tr
    %td 
      %b Venue
    %td= @show.venue.venue_label
  %tr
    %td 
      %b Notes:
    %td= @show.show_notes
  %tr
    %td 
      %b Setlist:
    %td
      = render 'shows/setlist'