%h2 Search Shows

%form{:action => "/shows/search_results", :method => "post"}
  #search_field
  %h5 Song:
  = text_field :name => "song_name"
  #search_field
  %h5 Venue:
  = select :name => "venue_id", :collection => get_venues
  #search_field
  %h5 Year:
  = select:name => "year", :collection => get_years
  #search_field
  %h5 City:
  = text_field :name => "venue_city"
  #search_field
  %h5 State
  = text_field :name => "venue_state"
  #search_field
  = submit "Search" 