= javascript_include_tag "admin"
%h2 Admin Shows
= link_to 'Back', shows_path
= will_paginate @shows
%table{:align => "center", :class => "tablesorter"}
  %thead
    %tr
      %th{:width => "10%", :align => "left"} Delete 
      %th{:width => "10%", :align => "left"} Edit
      %th{:width => "15%", :align => "left"} Date Played      
      %th{:width => "15%", :align => "left"} Venue
    %tbody  
      %tr
        %td{:colspan => "7"}= link_to 'New Show', new_show_path
      - @shows.each do |show|
        %tr        
          %td
            %a{:href => "/shows/destroy/#{show.id}", :id => "delete"} Delete
          %td= link_to 'Edit', edit_show_path(show)
          %td= show.date_played
          %td= show.venue.label
