= js_include_tag :search_shows
= js_include_tag :accordion
%div{:id => "main_shows"}
  %form{:action => "/shows/search_results", :method => "post", :autocomplete => "off", :id => "search_form_shows"}
    %div{:id => "search_accordion_shows"}
      %h3
        %a{:href => "#"} General
      %div
        %table{:border => "0"}
          %tr
            %td        
              %label Song
            %td
              = text_field :name => "song_name", :size => "25"
      %h3
        %a{:href => "#"} Location
      %div
        %table{:border => "0"}
          %tr
            %td
              %label Venue
            %td
              = text_field :name => "venue_name", :id => "venue_name", :size => "25"
          %tr
            %td
              %label City
            %td
              = text_field :name => "venue_city", :size => "25"
          %tr
            %td
              %label State
            %td
              = text_field :name => "venue_state", :size => "5"
      %h3
        %a{:href => "#"} Date
      %div
        %table{:border => "0"}
          %tr
            %td
              %label Year
            %td
              = select:name => "year", :collection => get_years
          %tr
            %td
              %label Range
            %td
              %input{:type => "text", :name => "start_date", :id => "start_date", :size => "7"} 
              to
              %input{:type => "text", :name => "end_date", :id => "end_date", :size => "7"}            
    %div{:id => "search_buttons_shows"} 
      %table{:width => "50%", :colspacing => "4"}    
        %tr
          %td{:colspan => "2"}  
            &nbsp      
        %tr
          %td{:align => "right"}
            %input{:type => "submit", :value => "Search", :name => "submit"} 
          %td{:align => "left"}
            %input{:type => "reset", :value => "Clear"}