= js_include_tag :search
%h2 Search Shows
%form{:action => "/shows/search_results", :method => "post", :autocomplete => "off"}
  %div{:id => "search_tabs"}
    %ul
      %li
        %a{:href => "#tabs-1"} General
      %li 
        %a{:href => "#tabs-2"} Location   
      %li 
        %a{:href => "#tabs-3"} Date 
    %div{:id => "tabs-1", :align => "left"}
      %div
        %div &nbsp      
        %label Song
        = text_field :name => "song_name", :size => "25"
      %br
      %br
      %input{:type => "submit", :value => "Search", :name => "submit"} 

      %input{:type => "reset", :value => "Clear"}        
    %div{:id => "tabs-2", :align => "left"}
      %div &nbsp
      %div
        %label Venue
        = text_field :name => "venue_name", :id => "venue_name", :size => "25"
      %div &nbsp
      %div
        %label City
        = text_field :name => "venue_city", :size => "25"
      %div &nbsp
      %div
        %label State
        = text_field :name => "venue_state", :size => "5"
      %br
      %br
      %input{:type => "submit", :value => "Search", :name => "submit"} 

      %input{:type => "reset", :value => "Clear"}        
    %div{:id => "tabs-3", :align => "left"}
      %div &nbsp
      %div
        %label Year
        = select:name => "year", :collection => get_years
        %div &nbsp       
      %div
        %label Range
        %input{:type => "text", :name => "start_date", :id => "start_date", :size => "7"} 
        to
        %input{:type => "text", :name => "end_date", :id => "end_date", :size => "7"}            
      %br
      %br
      %input{:type => "submit", :value => "Search", :name => "submit"} 

      %input{:type => "reset", :value => "Clear"}