%h2 Search Shows
%form{:action => "/shows/search_results", :method => "post", :autocomplete => "off"}
  %div{:class => "jcarousel-control"}
    %a{:href => "#", :id => "1"}General
    |
    %a{:href => "#", :id => "2"}Location
    | 
    %a{:href => "#", :id => "4"}Date
    %ul{:id => "mycarousel", :class => "jcarousel-skin-ambernet"}
      %li
        %div &nbsp
        %div
          %label Song
          = text_field :name => "song_name"
      %li
        %div &nbsp
        %div
          %label Venue
          = text_field :name => "venue_name", :id => "venue_name"
        %div &nbsp
        %div
          %label City
          = text_field :name => "venue_city"
        %div &nbsp
        %div
          %label State
          = text_field :name => "venue_state"
      %li
        %div &nbsp
        %div
          %label Year
          = select:name => "year", :collection => get_years
  %div &nbsp;
  %input{:type => "submit", :value => "Search"}
  %input{:type => "reset", :value => "Clear"}