%h1 Show Search Results
%table{:width => "85%", :align => "center", :id => "showTable", :class => "tablesorter"}
  %thead
    %tr
      %th{:width => "10%", :align => "left"} Show Date
      %th{:width => "20%", :align => "left"} Venue Name
      %th{:width => "10%", :align => "left"} City
      %th{:width => "10%", :align => "left"} State
      %th{:width => "10%", :align => "left"} Setlist
      %th{:width => "10%", :align => "left"} Recordings
    %tbody  
      - @shows.each do |show|
        %tr
          %td= show.date_played
          %td= show.venue.venue_name
          %td= show.venue.venue_city
          %td= show.venue.venue_state
          %td 
            %a{:href => "/shows/setlist/#{show.id}", :rel => "facebox"} Setlist
          %td
            %a{:href => "/shows/recordings/#{show.id}", :rel => "facebox"} Recordings
%div{:id => "pager", :class => "pager"}
  %form
    %img{:src => "/images/first.png", :class => "first"}
    %img{:src => "/images/prev.png", :class => "prev"}
    %input{:type => "text", :class => "pagedisplay"}
    %img{:src => "/images/next.png", :class => "next"}    
    %img{:src => "/images/last.png", :class => "last"}
    %select{:class => "pagesize"}
      %option{:value => "10"} 10
      %option{:value => "20"} 20
      %option{:value => "30"} 30