%html
  %head
    = javascript_include_tag 'jquery-1.4.2'
    = javascript_include_tag 'jquery.metadata'
    = javascript_include_tag 'jquery.tablesorter'
    = javascript_include_tag 'jquery.ui'
    = javascript_include_tag 'jquery.autoSuggest'
    = javascript_include_tag 'jquery.easing'
    = javascript_include_tag 'jquery.confirm'
    = javascript_include_tag 'jquery.lavalamp'
    = javascript_include_tag 'jquery.periodicalupdater.js'
    = javascript_include_tag 'application'
    = javascript_include_tag 'rails'
    = stylesheet_link_tag 'jquery.tablesorter'
    = stylesheet_link_tag 'autoSuggest'
    = stylesheet_link_tag 'jquery.ui.custom'
    = stylesheet_link_tag 'application'
    %title
      AmberNET Online
    - if admin_signed_in?  
      %script{:type => "text/javascript"}
        jQuery(document).ready(function($){$('#lavaLamp').attr("width", 530);});
  %body
    %table{:width => "75%", :align => "center"}
      %tr
        %td{:align => "center"}
          %img{:src => "/images/header.jpg"}
      %tr
        %td
          %ul{:id => "lavaLamp"}
            %li
              %a{:href => "/", :title => "Home"} Home
            %li
              %a{:href => "/browse", :title => "Browse"} Browse
            %li
              %a{:href => "/search", :title => "Advanced Search"} Advanced Search
            - if admin_signed_in?
              %li
                %a{:href => "/admin", :title => "Admin"} Admin
            - if admin_signed_in? || user_signed_in?
              %li
                %a{:href => "/account", :title => "Account"} Settings                
            - if admin_signed_in? 
              %li
                %a{:href => "/admins/sign_out", :title => "Logout"} Logout       
            - if user_signed_in? 
              %li
                %a{:href => "/users/sign_out", :title => "Logout"} Logout
      %tr
        %td{:align => "center"}
          - if flash[:notice]          
            %div{:class => "ui-widget"}
              %div{:class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
                %p
                  %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: .3em;"}
                  = flash[:notice]
          - if flash[:error]
            %div{:class => "ui-widget"}
              %div{:class => "ui-state-error ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
                %p
                  %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: .3em;"}
                  = flash[:error]           
      %tr
        %td{:colspan => "3"}= yield