%html
  %head
    = javascript_include_tag 'jquery-1.4.1.min'
    = javascript_include_tag 'jquery.metadata'
    = javascript_include_tag 'jquery.tablesorter'
    = javascript_include_tag 'jquery.confirm'
    = javascript_include_tag 'jquery.fancybox'
    = javascript_include_tag 'jquery.ui'
    = javascript_include_tag 'jquery.autoSuggest'
    = javascript_include_tag 'jquery.rating'
    = javascript_include_tag 'application'
    = javascript_include_tag 'jquery.corner'
    = javascript_include_tag 'rails'
    = stylesheet_link_tag 'jquery.tablesorter'
    = stylesheet_link_tag 'jquery.fancybox'
    = stylesheet_link_tag 'autoSuggest'
    = stylesheet_link_tag 'jquery.ui.custom'
    = stylesheet_link_tag 'jquery.rating'
    = stylesheet_link_tag 'application'
    %title
      AmberNET Online
  %body
    %div{:align => "left"}
      %img{:src => "/images/header.jpg"}  
    %div{:id => "nav"}
      %ul
        %li
          %a{:href =>"/", :class => "selected"} Home
        %li
          %a{:href => "/shows/browse"} Browse
        %li
          %a{:href => "/search"} Advanced Search
        %li
          %a{:href => "/about"} About
    - if flash[:notice]          
      %div{:class => "ui-widget"}
        %div{:class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
          %p
            %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: .3em;"}
            = flash[:notice]
    - if flash[:error]
      %div{:class => "ui-widget"}
        %div{:class => "ui-state-error ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
          %p
            %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: .3em;"}
            = flash[:error]           
    %br
    %br
    %br
    %br
    %br
    %div= yield