%html(xmlns:fb = "http://www.facebook.com/2008/fbml")
  %head
    = javascript_include_tag 'jquery-1.4.2'
    = javascript_include_tag 'jquery.metadata'
    = javascript_include_tag 'jquery.tablesorter'
    = javascript_include_tag 'jquery.ui'
    = javascript_include_tag 'jquery.autoSuggest'
    = javascript_include_tag 'jquery.easing'
    = javascript_include_tag 'jquery.confirm'
    = javascript_include_tag 'jquery.selectboxes'
    = javascript_include_tag 'jquery.periodicalupdater.js'
    = javascript_include_tag 'application'
    - if admin_signed_in?  
      = javascript_include_tag "admin"    
    = javascript_include_tag 'rails'
    = stylesheet_link_tag 'jquery.tablesorter'
    = stylesheet_link_tag 'jquery.autoSuggest'
    = stylesheet_link_tag 'jquery.ui.custom'
    = stylesheet_link_tag 'header'
    = stylesheet_link_tag 'application'
    - if !@recording.nil? 
      %meta{:property => "og:title", :content => "#{@recording.label}"}
    %meta{:property => "og:site_name", :content => "AmberNET"}
    %meta{:property => "og:image", :content => "#{AppConfig.host}/images/ambernet_fb.png"}
    %title
      AmberNET Online
  %body 
    %div{:id => "ambernet-header"}
      %h5{:id => "ambernet-logo"}
        %a{:href => "#{AppConfig.host}"} AmberNET
      %ul{:id => "ambernet-account-nav"}
        %div{:id => "ambernet-account-nav-logged_in", :style => "display; none;"}
          - if user_signed_in?
            %li
              %a{:href => "/profile", :id => "ambernet-header-link-profile"} Profile
          - if !user_signed_in?
            %li
              %a{:href => "/register", :id => "ambernet-header-link-register"} Register
          %li
            %fb:login-button{:autologoutlink => "true", :v => "2"}
      %ul{:id => "ambernet-section-nav"}
        %li
          %a{:href => "/", :id => "ambernet-header-link-home"} 
            %strong Home
        %li
          %a{:href => "/featured", :id => "ambernet-header-link-featured"} 
            %strong Featured
        %li
          %a{:href => "/browse", :id => "ambernet-header-link-browse"} 
            %strong Browse
        %li
          %a{:href => "/search", :id => "ambernet-header-link-search"} 
            %strong Search
      %br
    %table{:width => "75%", :align => "center"}
      %tr
        %td
          - if flash[:notice]          
            %div{:class => "ui-widget"}
              %div{:class => "ui-state-highlight ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
                %p
                  %span{:class => "ui-icon ui-icon-info", :style => "float: left; margin-right: .3em;"}
                  = flash[:notice]
          - if flash[:error]
            %div{:class => "ui-widget"}
              %div{:class => "ui-state-error ui-corner-all", :style => "margin-top: 20px; padding: 0 .7em;"}
                %p
                  %span{:class => "ui-icon ui-icon-alert", :style => "float: left; margin-right: .3em;"}
                  = flash[:error]
      %tr
        %td
          %p
          %p
          %p
          = yield
          %div{:id => "fb-root"}
          %script{:src => "http://connect.facebook.net/en_US/all.js"}
          :javascript
            FB.init({appId: '#{AppConfig.facebook_app_id}', status: true, cookie: true, xfbml: true});
            FB.Event.subscribe('auth.sessionChange', function(response) {
              if (response.session) {
                window.location = 'https://graph.facebook.com/oauth/authorize?scope=email%2Coffline_access%2Cpublish_stream&client_id=#{AppConfig.facebook_app_id}&type=web_server&redirect_uri=#{AppConfig.host}/users/oauth2'
              } else {
                window.location = '#{AppConfig.host}/users/sign_out'
              }
            });  